.container {
  width: 100%;
  padding: 20px;
  margin-top: 50px;
}
.login-page {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}

h1 {
  color: blue;
}
.text-color {
  text-decoration: whitesmoke;
}
.asterisk {
  color: red;
}
.invalid-input {
  background-color: 1px solid red;
}
.input-group-text {
  border: none;
}
.fa {
  font-size: 27px;
}
