<div
  class="container"
  ng-app="show_hide_password"
  ng-controller="show_hide_password_controller"
>
  <div class="login-page">
    <div class="flex-items">
      <h1>Facebook</h1>
      <p>Login or signup to conect with your friends</p>
    </div>

    <div class="flex-items">
      <form #formData="ngForm" (ngSubmit)="onFormSubmit(formData, $event)">
        <div class="form-group">
          <label for="Email">Email<span class="asterisk">*</span></label>
          <input
            id="Email"
            name="Email"
            type="text"
            class="form-control"
            placeholder="Email or Phone Number"
            required
            [(ngModel)]="formModel.email"
            #email="ngModel"
            [ngClass]="{
              'invalid-input': formData.submitted && email.errors?.required
            }"
          />
          <div
            *ngIf="formData.submitted && email.errors?.required"
            class="asterisk"
          >
            Email Id is required
          </div>
        </div>
        <div class="form-group">
          <label for="Password">Password <span class="asterisk">*</span></label>
          <div class="input-group mb-3">
            <input
              id="Password"
              name="Password"
              [type]="inputType ? 'text' : 'password'"
              placeholder="Password"
              class="form-control"
              required
              [(ngModel)]="formModel.password"
              #password="ngModel"
              [ngClass]="{
                'invalid-input': formData.submitted && password.errors?.required
              }"
            />
            <div class="input-group-addon">
              <span class="input-group-text">
                <i
                  [class]="show_eye ? 'fa fa-eye' : 'fa fa-eye-slash'"
                  (click)="onShowPassword()"
                ></i
              ></span>
            </div>
          </div>
          <div
            *ngIf="formData.submitted && password.errors?.required"
            class="asterisk"
          >
            Password is required
          </div>
        </div>
        <br />
        <button class="btn btn-primary">Login</button>
        <p style="color: red">{{ error }}</p>
        <br />
        <a href="#">Forgot Password</a>
        <hr />
        <button class="btn btn-success text-color" (click)="onCreateAccount()">
          Create Account
        </button>
      </form>
    </div>
  </div>
</div>
