<div class="container">
  <form #formData="ngForm" (ngSubmit)="onPasswordReset()">
    <div class="form-group">
      <label for="exampleInputEmail1"
        >Email address <span class="asterisk">*</span></label
      >
      <input
        type="email"
        class="form-control"
        id="exampleInputEmail1"
        required
        [(ngModel)]="accountModel.email"
        name="email"
        #email="ngModel"
        aria-describedby="emailHelp"
        placeholder="Enter email"
        [ngClass]="{
          'invalid-input': formData.submitted && email.errors?.required
        }"
      />
      <div
        class="asterisk"
        *ngIf="formData.submitted && email.errors?.required"
      >
        Email Id is required
      </div>
    </div>
    <div class="form-group">
      <label for="password">Old Password <span class="asterisk">*</span></label>
      <input
        type="password"
        class="form-control"
        id="password"
        name="password"
        #password="ngModel"
        [(ngModel)]="accountModel.oldPassword"
        placeholder="Password"
        maxlength="10"
        required
        [ngClass]="{
          'invalid-input': formData.submitted && password.errors?.required
        }"
      />
      <div
        class="asterisk"
        *ngIf="password.touched && password.errors?.required"
      >
        Old Password is required
      </div>
    </div>
    <div class="form-group">
      <label for="password">New Password <span class="asterisk">*</span></label>
      <input
        type="password"
        class="form-control"
        id="password"
        name="password"
        #password="ngModel"
        [(ngModel)]="accountModel.newPassword"
        placeholder="Password"
        maxlength="10"
        required
        [ngClass]="{
          'invalid-input': formData.submitted && password.errors?.required
        }"
      />
      <div
        class="asterisk"
        *ngIf="password.touched && password.errors?.required"
      >
        New Password is required
      </div>
    </div>
    <button class="btn btn-primary">Reset Password</button>
  </form>
</div>
