<app-header (userInput)="onUserData($event)"></app-header>
<div class="container">
  <div class="card text-center card-block" *ngFor="let post of posts">
    <div class="card-header">
      <img [src]="post.imageUrl" class="circle" />
      <div class="ml-1">{{ post.firstName }} posted {{ post.calcTime }}</div>
    </div>
    <div class="card-body">
      <h5 class="card-title">{{ post.title }}</h5>
      <p class="card-text">
        {{ post.content }}
      </p>
      <a href="#" class="btn btn-primary" (click)="onViewProfile($event, post)"
        >View Profile</a
      >
    </div>
  </div>
</div>
